In [1]:
2+2

4

In [2]:
print("hello world")

hello world

In [8]:
book_title = "Harry Potter"

In [9]:
book_title

'Harry Potter'

In [11]:
year = 1997
print (year)

1997

In [14]:
price = 19.95

In [15]:
type (price)

float

In [16]:
year = 1997
Price = 19.95
title = "Harry Potter"
not_a_number = "145"

In [17]:
year + not_a_number

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
3>4

False

In [19]:
9>6

True

In [20]:
numbers = [1, 2, 3]

In [21]:
for number in numbers:
    print (number)

1
2
3

In [26]:
for number in numbers:
    double = number * 2
    print (double)
print ("Zahlen wurden multipliziert")

2
4
6
Zahlen wurden multipliziert

In [27]:
len(numbers)

3

In [28]:
authors = "Dawin", "Hawking", "Feyman", "Jemison"

In [29]:
len(authors)

4

In [30]:
authors [3]

'Jemison'

In [31]:
authors[0]

'Dawin'

In [32]:
authors[-2]

'Feyman'

In [33]:
title

'Harry Potter'

In [34]:
title [0:5]

'Harry'

In [35]:
title[5:]

' Potter'

In [37]:
author_and_books = {"Jemison" : "Wind", "Darwin": "Species", "Hawing": "Universe"}

In [40]:
author_and_books["Jemison"]

'Wind'

In [49]:
temp = 4
if temp > 15:
    print ("it'warm")
elif temp < 5:
    print ("it'cold")

it'cold

# Wetterbericht
 der folgende code erklÃ¤rt das Wetter

In [55]:
author = "Darwin"

In [56]:
author.upper()

'DARWIN'

In [57]:
author?

In [58]:
author.replace("a", "XXX")

'DXXXrwin'

In [59]:
author

'Darwin'

In [61]:
author = author.replace ("a", "XXX")